.section {
  padding: 100px 64px;
}

.button {
  margin: 50px auto 100px;
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 200px;
  border: 1px solid rgba(71, 84, 103, 0.2);
  color: #101828;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.08px;
}
